/***/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
	--font-primary: "Montserrat", sans-serif;
	--font-secundary: "Lato", sans-serif;
}

/*estilos gerais*/

.container{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.title{
    width: 100%;
    padding: 30px;
}

.title h1{
    width: 10%;
    color: white;
    font-family: var(--font-primary);
    font-size: 30px;
    border-bottom: 4px solid white;
}

/*header*/

header{
    padding: 10px;
    background-color: #dfa7a7;
}

/*logo*/

.logo{
    float: left;
}

.logo a{
    text-decoration: none;
}

.logo h2{
    color: white;
    font-family: var(--font-primary);
}

/*desktop*/

.desktop{
    display: block;
    float: right;
}

.desktop ul{
    list-style-type: none;
}

.desktop ul li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 6px;
}

.desktop ul li a{
    font-family: var(--font-primary);
    color: white;
    text-decoration: none;
}

/*mobile*/

.mobile{
	float: right;
	display: none;
}

.mobile ul{
	display: none;
	z-index: 1;
	position: fixed;
	left: 0;
	top: 3rem;
	border-top:2px solid #c78888;
	background: white;
	width: 100%;
	list-style-type: none;
}

.mobile ul li{
	text-align: center;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #c78888;
	padding: 6.4px;
}

.mobile a{
	font-family: var(--font-primary);
	color: #c78888;
	padding: 20px 40%;
	text-decoration: none;
}

.mobile > i{
    z-index: 99;
    right: 20px;
    position: fixed;
	cursor: pointer;
	font-size: 2rem;
	color: white;
}

/*topper-azul*/

section.topper-azul{
    background-color: #d67979;
}

.title h1{
    width: 19%;
}

.topper-wrapper{
    display: flex;
    justify-content: space-around;
}

.topper-single{
    text-align: center;
}

.topper-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topper-img img{
    height: 350px;
    width: 33.3%;
    margin: 0px 20px 20px 20px;
}

.topper-text{
    color: white;
    padding-bottom: 20px;
}

.topper-text h4{
    font-family: var(--font-primary);
    font-size: 20px;
}

.topper-text p{
    font-family: var(--font-secundary);
    font-size: 18px;
}

.topper-text button{
    margin-top: 8px;
    background-color: #e28f8f;
    border: 0;
    height: 30px;
    width: 140px;
}

.topper-text button a{
    color: white;
    font-family: var(--font-primary);
    text-decoration: none;
}

.topper-info{
    color: white;
    padding: 20px 20px 50px 20px;
}

.topper-info h2{
    font-family: var(--font-primary);
}

.topper-info button{
    margin-top: 20px;
    background-color: #e28f8f;
    border: 0;
    height: 30px;
    width: 140px;
}

.topper-info button a{
    color: white;
    font-family: var(--font-primary);
    text-decoration: none;
}

/*footer*/

footer{
    padding-top: 20px;
    width: 100%;
    background-color: #d69a9a;
}

.footer-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.footer-single{
    color: white;
}

.left{
    float: left;
}

.right{
    float: right;
}

.footer-text{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.footer-text h2{
    font-family: var(--font-primary);
}

.footer-text a{
    font-size: 17px;
    font-family: var(--font-secundary);
    color: white;
    text-decoration: none;
    transition: all 0.4s;
}

.footer-text a:hover{
    color: rgb(216, 216, 216);
}

footer img{
    position: relative;
    top: -70px;
    left: -350px;
    float: right;
    width: 100px;
    height: 100px;
}

/*footerdois*/

section.footerdois{
    background-color: #d67979;
    padding: 10px;
}

.footerdois-text{
    width: 100%;
    text-align: center;
    color: white;
}

.footerdois-text p{
    font-family: var(--font-secundary);
}

@media screen and (max-width: 1024px){
    footer img{
        left: -280px;
    }
}

@media screen and (max-width: 768px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .topper-img{
        flex-wrap: wrap;
    }
    .topper-img img{
        width: 100%;
    }
    footer img{
        left: -220px;
    }
}

@media screen and (max-width: 500px){
    footer img{
        left: -160px;
    }
}

@media screen and (max-width: 420px){
    .footer-single{
        text-align: center;
    }
    .left{
        float: none;
    }
    .right{
        float: none;
    }
    footer img{
        top: -15px;
        left: -118px;
    }
}

@media screen and (max-width: 340px){
    footer img{
        left: -95px;
    }
}